@charset "UTF-8";

/* configurações gerais*/

body{
    background-color: rgba(211, 95, 186, 0.74);
    margin: 50px 50px;
}
 
header {
    text-align: center;
}

section {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    border-radius: 8px;
    width: 500px;
    margin:auto ;
}

#res{
    line-height: 50px;
    
}

section > h5 > strong {
    color:rgba(211, 95, 186, 0.74); ;
}

footer {
    text-align: center;
}

footer > p > a:hover{
    color: white;
}

a{
    color: black;
    text-decoration: none;
}

#volta {
    text-align: left;
}